{% extends "accounts/admin_base.html"%}

{% load staticfiles %}

{% block body %}
<div class="container">
	<h1 style>
		{{user.get_full_name}}
	</h1>
</div>
<div class="full-width-line"></div>
{% block profile-info %}
<div class="container">
	<table class="table table-hover table-responsive profile-info">
		<tbody>
			<tr>
				<td class="profile-info-lable">Email id :</td>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">Phone :</td>
				<td>{{user.profile.phone|default:"Not set"}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">Facebook :</td>
				<td>{{user.profile.facebook_link|default:"Not set"}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">ID :</td>
				<td>{{user.profile.uuid}}</td>
			</tr>
		</tbody>
	</table>
	<a href="{% url 'accounts:profile_edit' %}">
		<div class="action-button">
			Edit
		</div>
	</a>
	<a href="{% url 'accounts:logout' %}">
		<div class="action-button">
			Logout
		</div>
	</a>
</div>
{% endblock %}
{% endblock %}
