{% extends "main/index.html" %}

{% load staticfiles %}

{% block content %}
<div class="container">
	<h1 style>
		{{user.get_full_name}}
	</h1>
	<ul class="list-unstyled list-inline profile-actions">
		<li><a href="#">Write a Tutorial</a></li>|
		<li><a href="#">Post an Event</a></li>|
		<li><a href="{% url 'blog:new' %}">Submit a story</a></li>|
		<li><a href="{% url 'accounts:logout' %}">Logout</a></li>				
	</ul>
</div>
<div class="full-width-line"></div>
{% block profile-info %}
<div class="container">
	<table class="table table-hover table-responsive profile-info">
		<tbody>
			<tr>
				<td class="profile-info-lable">Email id :</td>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">Phone :</td>
				<td>{{user.profile.phone|default:"Not set"}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">Facebook :</td>
				<td>{{user.profile.facebook_link|default:"Not set"}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">Department :</td>
				<td>{{user.profile.department|default:"Not set"}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">Batch_of :</td>
				<td>{{user.profile.batch_of|default:"Not set"}}</td>
			</tr>
			<tr>
				<td class="profile-info-lable">ID :</td>
				<td>{{user.profile.uuid}}</td>
			</tr>
		</tbody>
	</table>
	<a href="{% url 'accounts:profile_edit' %}">
		<div class="action-button">
			Edit
		</div>
	</a>
</div>
{% endblock %}
{% endblock %}
