{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}
	Instruo: Login
{% endblock %}

<!-- {% block css %}	
	<link href="{% static "main/css/auth.css" %}" rel="stylesheet">
{% endblock %} -->

{% block body %}
	<div class="auth-wrapper">
		<a class="auth-logo" href="/home/">instruo</a>
		<div class="directions">
			{% block form-directions %}
			Let the hacking begin.
			{% endblock %}
		</div>
		
		<!-- Google+ Signup Buttor -->
<!-- 		<a href="https://accounts.google.com/o/oauth2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login&state={{ csrf_token }}&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fgooglesignin&response_type=code&client_id=984555597268-c7ocbmqiodkq1fkfhbpj0reuis2btkd0.apps.googleusercontent.com&access_type=offline">
		Google Signin</a>
 -->

		<div class="form-wrapper">
			<form class="Form" action="{% block form-target %}{% url "accounts:login" %}{% endblock %}" method="post">
				{% csrf_token %}
				{% block form-error%}
					{% if error %}
					<div class="form-errors">
						{{error}}
					</div>
					{% endif %}
				{% endblock %}
				{% block form-success%}
					{% if success %}
					<div class="form-success">
						{{success}}
					</div>
					{% endif %}
				{% endblock %}
				{% if form %}
					{% block form-input%}
						{% for field in form %}
							<div class="form-field-wrapper">
							<input id="{{ field.auto_id }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}" name="{{ field.html_name }}" 
							{% if field.value%}
							value="{{ field.value }}"
							{% endif %}
							/>
							</div>
							{{field.errors}}
						{% endfor %}
					{% endblock %}
					<div class="hidden-fields">
						{% block form-hidden-fields%}{% endblock%}
					</div>
					<div class="form-submit-wrapper">
						<input type="submit" value="{% block form-submit-label %}Log in{% endblock %}" />
					</div>
					<div class="extra-links-wrapper">
						{% block form-extra-links%}{% endblock %}
					</div>
				{% endif %}
			</form>
		</div>
		{% if form %}
		<div class="extra-instructions">
			{% block extra-instructions%}{% endblock%}
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script type="text/javascript">
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
		xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
    }
});

function signInCallback(authResult) {
	console.log(authResult);
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/accounts/googlesignin/',
      success: function(result) {
        console.log(result);
      },
      data: {code: authResult['code']},
    });
  } else if (authResult['error']) {
    // There was an error.
    // Possible error codes:
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatially log in the user
    // console.log('There was an error: ' + authResult['error']);
  }
}

</script>
{% endblock %}