{% extends "main/base_bare.html" %}

{% load staticfiles %}

{% block css%}
{{ block.super }}
<link rel="stylesheet" href="{% static 'main/css/lock_page_scale_width_mod.css' %}">    
<link rel="stylesheet" href="{% static 'main/css/hint.css' %}">
<style class="ev_injected_css"></style>
{% endblock %}

{% block body %}
<div class="lock-page">
	<div  class="aura move" id="aura_big"></div>
	<div class="aura move2" id="aura_big2"></div>	  <!-- uncomment for scale mode -->
	<div class="aura small c" id="aura_small"></div>
	<div class="bg" id="over"></div>
	<div class="bg2" id="over2"></div>
	<div id="big-i">Instruo</div>
	<div id="unlock"> Go! </div>
	<div id="loading-pre" class="unselectable">Loading</div>
	<div id="loading-pre-cont" class="unselectable"><div id="loading-post" class="unselectable">Loading</div></div>
</div>

<div class="sidebar-container">
	<div class="sidebar">
		<div id="home" class="text-center sidebar-list hint--right hint--success unselectable" data-hint="Return Home">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
				<path d="M16 1l-16 16 3 3 3-3v13h8v-6h4v6h8v-13l3 3 3-3-16-16zM16 14c-1.105 0-2-0.895-2-2s0.895-2 2-2c1.105 0 2 0.895 2 2s-0.895 2-2 2z"></path>
			</svg>
		</div>
		<div id="events" class="text-center sidebar-list hint--bottom hint--success unselectable" data-hint="Show Events List">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
				<path d="M26 6v-4h-20v4h-6v4c0 3.314 2.686 6 6 6 0.627 0 1.232-0.096 1.801-0.275 1.443 2.063 3.644 3.556 6.199 4.075v6.2h-2c-2.209 0-4 1.791-4 4h16c0-2.209-1.791-4-4-4h-2v-6.2c2.555-0.519 4.756-2.012 6.199-4.075 0.568 0.179 1.173 0.275 1.801 0.275 3.314 0 6-2.686 6-6v-4h-6zM6 13.625c-1.999 0-3.625-1.626-3.625-3.625v-2h3.625v2c0 1.256 0.232 2.457 0.655 3.565-0.213 0.039-0.431 0.060-0.655 0.060zM29.625 10c0 1.999-1.626 3.625-3.625 3.625-0.224 0-0.442-0.021-0.655-0.060 0.423-1.107 0.655-2.309 0.655-3.565v-2h3.625v2z"></path>
			</svg>
		</div>
		<div id="about" class="text-center sidebar-list hint--right hint--success unselectable" data-hint="About Instruo">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
				<path d="M6 0v32h24v-32h-24zM18 8.010c2.203 0 3.99 1.786 3.99 3.99s-1.786 3.99-3.99 3.99-3.99-1.786-3.99-3.99 1.786-3.99 3.99-3.99v0zM24 24h-12v-2c0-2.209 1.791-4 4-4v0h4c2.209 0 4 1.791 4 4v2z"></path>
			</svg>
		</div>
		<div id="about" class="text-center sidebar-list hint--right hint--success unselectable" data-hint="About Instruo">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
				<path d="M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"></path>
			</svg>
		</div>
	</div>
	<div class="sidebar-menu">
		<ul>
			<li class="all-event">All events</li>
			<li>Robotics</li>
			<li>Coding</li>
			<li>Photography</li>
			<li>Gaming</li>
			<li>Exhibition</li>
		</ul>
	</div>
</div>

{% block content %}{% endblock %}

{% endblock %}

{% block script %}
	{{ block.super}}
{% endblock %}