
<h2 class="content-page-heading">The Team</h2>
{% comment %}
{% for x in  numofcontacts %}
		<!-- <div id="topbar1"> -->
			<div class="contacts-member">
				<div class="contacts-detailed-info">
					<div class="contacts-detailed-name">Anonymous</div>
					<div class="contacts-about-person">Lazy lad</div>
					<div class="contacts-phone-number">1800-5299-523</div>
					<div class="contacts-goog">
						<a href="contacts-mailto:anon@anonymous.an"></a>
					</div>
					<div class="contacts-fb"><a href="https://www.facebook.com/"></a></div>
				</div>
				<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com//picture?type=square&width=200&height=200')"></div>
				<div class="contacts-min-name">Anonymous</div>
			</div>
		<!-- </div> -->
{% endfor %}
{% endcomment %}

<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Lucas Baishya</div>
		<div class="contacts-about-person">Event Manager</div>
		<div class="contacts-phone-number">9883081205</div>
		<div class="contacts-goog">
			<a href=""></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/lucas.ibrahimovich"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/lucas.ibrahimovich/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Lucas Baishya</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Anandamoy Chatterjee</div>
		<div class="contacts-about-person">Event Manager</div>
		<div class="contacts-phone-number">9830937188</div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/1640422862"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/1640422862/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Anandamoy Chatterjee</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Archisman Ghoshal</div>
		<div class="contacts-about-person">Main coordiantor</div>
		<div class="contacts-phone-number">9475440175</div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/Archisman.LeoShady"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/Archisman.LeoShady/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Archisman Ghoshal</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Abhishek Jha</div>
		<div class="contacts-about-person">Main coordinator</div>
		<div class="contacts-phone-number">8961914913</div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/binay28"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/binay28/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Abhishek Jha</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Abhishek Ashish</div>
		<div class="contacts-about-person">Sponsor coordinator</div>
		<div class="contacts-phone-number">7278828850</div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/abhishek.ashish.75"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/abhishek.ashish.75/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Abhishek Ashish</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Saurav Dandapat</div>
		<div class="contacts-about-person">Sponsor coordinator</div>
		<div class="contacts-phone-number"></div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/sourav.dandapat.5"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/sourav.dandapat.5/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Saurav Dandapat</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Rahul Ranjan</div>
		<div class="contacts-about-person"> Publicity</div>
		<div class="contacts-phone-number">9007949915</div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/100001832195707"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/100001832195707/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Rahul Ranjan</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Binayak Ghosh</div>
		<div class="contacts-about-person">Web development</div>
		<div class="contacts-phone-number">9434110169</div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/ghoshbinayak"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/ghoshbinayak/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Binayak Ghosh</div>
</div>
<div class="contacts-member">
	<div class="contacts-detailed-info">
		<div class="contacts-detailed-name">Asif Iqbal Gazi</div>
		<div class="contacts-about-person">Web development</div>
		<div class="contacts-phone-number">9038893472</div>
		<div class="contacts-goog">
			<a href="contacts-mailto:anon@anonymous.an"></a>
		</div>
		<div class="contacts-fb"><a href="https://www.facebook.com/asif.iqbal.gazi"></a></div>
	</div>
	<div class="contacts-min-img" style="background-image: url('https://graph.facebook.com/asif.iqbal.gazi/picture?type=square&width=200&height=200')"></div>
	<div class="contacts-min-name">Asif Iqbal Gazi</div>
</div>

<div class="float-fix">
	
</div>