{% for event_index in range(9)  %}
{% set cur_event=events[ev_order[event_index]-1] %}

    .event-{{event_index+1}} .event-shape-perm::before,.event-{{event_index+1}} .event-shape-scale::before
    {
        transform: translate({{cur_event.shape_before_trf_x}}%, {{cur_event.shape_before_trf_y}}%) rotate({{cur_event.shape_before_rot}}deg);
    }

    .event-{{event_index+1}} .event-shape-perm::after,.event-{{event_index+1}} .event-shape-scale::after
    {
        transform: translate({{cur_event.shape_after_trf_x}}%, {{cur_event.shape_after_trf_y}}%) rotate({{cur_event.shape_after_rot}}deg);
    }

    .event-{{event_index+1}} .event-shape-perm:before,.event-{{event_index+1}} .event-shape-perm:after,
    .event-{{event_index+1}} .event-shape-scale:before,.event-{{event_index+1}} .event-shape-scale:after
    {
        {#
        border-color: transparent;
        {% if cur_event.both_tri %}
            border-color: rgb({{30+cur_event.col_r}},{{30+cur_event.col_g}},{{30+cur_event.col_b}});
        {% endif %}
        #}
        border-color: rgb({{30+cur_event.col_r}},{{30+cur_event.col_g}},{{30+cur_event.col_b}});
        border-top-color: rgb({{cur_event.col_r}},{{cur_event.col_g}},{{cur_event.col_b}});
        {# border-top-color: {{cur_event.col_hex}}; #}
    }
    .event-{{event_index+1}} .event-attract {
        {% if not cur_event.poster %}
            background-color: transparent;
        {% endif %}
    }

{% endfor %}