{% extends "main/base.html" %}

{% load staticfiles %}

{% block css %}
	{{ block.super }}
{% endblock%}

{% block body %}

{% include 'main/lockpage.html' %}
{% include 'main/sidebar.html' %}

<div id="main-container">
	{% include 'main/landing.html' %}
</div>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script src="{% static 'main/js/fss.min.js' %}"></script>
	<!-- <script src="{% static 'main/js/example.js' %}"></script> -->
	<script src="{% static 'main/js/instruo.min.js' %}"></script>
	<!-- <script src="{% static 'main/js/maps.js' %}"></script> -->
{% endblock %}