{% extends "main/base.html" %}

{% load staticfiles %}
{% load include_raw %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'main/css/all_events.css' %}">
<link rel="stylesheet" href="{% static 'main/css/single_event.css' %}">
{% endblock%}
{% block content %}
<div id="main-container">
	<div class="landing-page">
		<div id="container-canvas" class="container-canvas">
			<div id="output-canvas" class="container-canvas"></div>
		</div>
		<div id="logo-info-container">
			<div id="logo">Instruo <sup style="font-size: 4vh" >2015</sup></div>
			<div id="logo-info">presented by</div>
			<div id="over-anim">
				<div id="besu">BESU</div>
				<div id="iiest">IIEST</div>
			</div>
			<!-- <div id="tagline">Instruo, Kolkata's largest tchno management fest starts on 3rd April. Explore what we have to offer, come and enjoy.</div> -->
			<div class="wrapper-tagline" id='tagline'>
				<div class="text-hider text-hider-kol">
					<div class="text-kol">
						Kolkata's
					</div>
				</div>
				<div class="text-hider text-hider-big">
					<div class="text-big">
						BIGGEST
					</div>
				</div>
				<div class="text-hider text-hider-tech">
					<div class="text-tech">
						Techno+Management
					</div>
				</div>
				<div class="text-hider text-hider-fest">
					<div class="text-fest">
						FEST
					</div>
				</div>
				<div class="text-hider text-hider-is-here">
					<div class="text-is-here">
						Is Here
					</div>
				</div>
			</div>

			<!-- The big day -->
			<div class="wrapper-date">
				<div class="date date-1">
					<div class="date-text">
						3
					</div>
					<div class="date-month">
						April
					</div>
					<div class="date-connector"></div>
				</div>
				<div class="date date-2">
					<div class="date-text">
						4
					</div>
				    <!-- <div class="date-month">
				        April
				    </div> -->
				    <div class="date-connector"></div>
				</div>
				<div class="date date-3">
					<div class="date-text">
						5
					</div>
					<div class="date-month">
						April
					</div>
					<div class="date-connector"></div>
				</div>
			</div>

		</div>
	</div>

	<div class="events-container">
		<div class="events-container-ie">
			<!-- <div class="events"></div> -->
			{% include "main/eventslist.html" %}
		</div>
	</div>
	
	<div class="contacts-container">
		<div class="contacts-container-ie">			
			{% include "main/contacts.html" %}
		</div>
	</div>
	<div class="location-container">
		<h2 class="location-heading">Come join us at IIEST</h2>
		<div class="location-gmaps"></div>
	</div>
	 <div class="sponsors-container">
		{% include 'main/sponsors.html' %}
	 </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'main/js/fss.min.canvas.js' %}"></script>
<script src="{% static 'main/js/example.js' %}"></script>
<script src="{% static 'main/js/maps.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/nunjucks.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/all_events.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/ev_shape_scroll.js' %}"></script>
{% comment %} include nunjucks templates {% endcomment%}
<script type="text/nunjucks" class="tmpl_single_event"> {% include_raw "main/single_event_nun.html" %} </script>
<script type="text/nunjucks" class="tmpl_all_event"> {% include_raw 'main/all_events_nun.html' %} </script>
<script type="text/nunjucks" class="tmpl_shape_css"> {% include_raw 'main/event_shape.css' %} </script>
{% endblock %}