<div class="scroll-highlighter">
    <div class="scroll-anim">
        <div class="shape-container">
            <div class="circ-bigger">
                <div class="scrolling-bg"></div>
            </div>
            <div class="circ-outline"></div>
            <!-- <div class="circ-full">
                <div class="circ-inner-hider"></div>
            </div> -->
        </div>
    </div>
    <div class="scroll-text-container">
        <div class="scroll-text">
            Scroll Down
        </div>
        <div class="scrolling-bg"></div>
    </div>
</div>
<div class="event-contents-container">
    <div class="event-contents">
        <div class="contents-item contents-1">
            Introduction
        </div>
        <div class="contents-item contents-2">
            Story
        </div>
        <div class="contents-item contents-3">
            Problem Statement
        </div>
    </div>
</div>
<div class="event-details-container">
    <div class="section-container float-fix">
        <div class="section-title">
            <div class="title-text">
                Introduction
            </div>
        </div>
        <div class="section-details">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore unde at voluptatum, quam provident ipsum quas id, ipsam dolor iste hic aliquam illum harum nulla alias praesentium distinctio officiis fugiat magni voluptatibus dolore ducimus. Tenetur ducimus quae repellat necessitatibus? Voluptatum sequi cumque recusandae dolorum quasi sit minima tempore. Corporis, quae, sint. Accusantium impedit explicabo nostrum rerum aut quasi dolor facere aliquid itaque consectetur similique quae cum ea provident doloremque unde nobis quaerat dolorum, sint doloribus aperiam ratione omnis. Expedita dicta saepe pariatur libero nisi amet explicabo, tempore repudiandae ea dignissimos deleniti error sunt deserunt labore minima blanditiis. Fuga, quasi, esse!
        </div>
    </div>
    <!-- <div class="section-break-container">
        <div class="shape-container">
            <div class="shape-full"></div>
            <div class="shape-part shape-part-hider"></div>
            <div class="shape-part shape-part-moved"></div>
        </div>
    </div> -->
    <div class="section-container float-fix">
        <div class="section-title">
            <div class="title-text">
                Story
            </div>
            
        </div>
        <div class="section-details">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur iusto ullam facere amet, laborum possimus omnis eveniet aliquid incidunt quas, dolorem ea similique commodi laudantium labore consequatur inventore facilis soluta reiciendis praesentium unde fugit, quia voluptates! Dolores ullam, quam nesciunt laborum fugit quod aspernatur, blanditiis quae harum adipisci. Ex aliquid culpa similique, fugit qui labore incidunt, ad libero cupiditate aliquam maiores sint corporis quibusdam atque? Accusamus explicabo earum quod impedit non fuga obcaecati hic incidunt, aperiam et vero sapiente repellendus est harum beatae veniam sint, voluptatem consequatur, consectetur aliquid laboriosam natus quisquam vitae iste. Autem maxime ad aliquid delectus ratione!
        </div>
    </div>
    <!-- <div class="section-break-container">
        <div class="shape-container">
            <div class="shape-full"></div>
            <div class="shape-part shape-part-hider"></div>
            <div class="shape-part shape-part-moved"></div>
        </div>
    </div> -->
    <div class="section-container float-fix">
        <div class="section-title">
            <div class="title-text">
                Problem Statement
            </div>
        </div>
        <div class="section-details">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur consequatur a maiores, ipsa, ad iusto sunt obcaecati ullam accusantium aspernatur labore dicta unde nihil, sequi aliquam deleniti! In ea, doloribus eos labore tempora nam magnam, maiores quae animi, libero quam. Accusamus quod quis illo pariatur molestias eaque, dicta, aperiam, nihil nobis, porro consequuntur unde ullam odit iusto cupiditate in optio itaque nesciunt temporibus quam magni nulla! Impedit quo, illum. Voluptate officia corporis laudantium sunt a vero laboriosam, sit assumenda dicta nihil placeat architecto. Debitis excepturi aspernatur natus consectetur nesciunt atque, iusto nemo deleniti dolorem, architecto sit! Officia totam qui consequatur!
        </div>
    </div>
</div>