body
{
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

.landing-page
{
	background: url("snes.jpg") no-repeat center center fixed;
	background-size: cover;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}

.lock-page
{
	/*display: none;           comment*/
	z-index: 5;
	background: #000 no-repeat center center fixed;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.5s all  ease-out;
	   -moz-transition: 0.5s all  ease-out;
	    -ms-transition: 0.5s all  ease-out;
	     -o-transition: 0.5s all  ease-out;
	        transition: 0.5s all  ease-out;
}

.fast-transition
{
	-webkit-transition: 0.2s all  linear;
	   -moz-transition: 0.2s all  linear;
	    -ms-transition: 0.2s all  linear;
	     -o-transition: 0.2s all  linear;
	        transition: 0.2s all  linear;
}

.lock-change-up
{
	-webkit-transform: translateY(-10%);
	   -moz-transform: translateY(-10%);
	    -ms-transform: translateY(-10%);
	     -o-transform: translateY(-10%);
	        transform: translateY(-10%);
}

/*.lock-change-down
{
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}*/

.lock-page-up
{
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);
}

.lock-page-container
{
	width: 100vw;
	height: 100vh;
	/*background: rgba(0,0,0,0.4) no-repeat;*/
}

#title_text
{
	color: #A2F4FB;
	/*font-size: 1.2em;*/
	width: 30vw;
	/*color: #fff;*/
	text-shadow: 0px 0px 20px rgba(255,255,255,0.3);
	position: absolute;
	top: 40vh;
	left: 35vw;
	font-family: "Segoe UI", "Calibri", "Helvetica", Arial, Sans-serif;
}

.sidebar-container
{
	z-index: 1;
	position: fixed;
	width: 13vw;
	min-width: 170px;
	/*max-width: 300px;*/
	height: 100vh;
}

.sidebar
{
	position: absolute;
	z-index: 2;
	float: left;
	width: 35%;
	height: 100%;
	background: #fff;
	box-shadow: 15px 0px 15px rgba(0,0,0,0.2);
}

.sidebar-menu
{
	/*visibility: hidden;*/
	z-index: 1;
	position: absolute;
	left: -60%;
	float: left;
	width: 65%;
	height: 100%;
	background: #fff;
	box-shadow: 15px 0px 15px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}

.sidebar-menu-right
{
	-webkit-transform: translateX(145%);
	-ms-transform: translateX(145%);
	-o-transform: translateX(145%);
	transform: translateX(145%);
}

img.menu_img
{
	width: 50%;
	max-width: 64px;
}

#home
{
	/*margin-top: 75px;*/
}

.sidebar-list
{
	margin: 7vh auto 0 auto;
}

#events
{
	/*margin: 75px auto 0 auto;*/
}

.text-center
{
	cursor: pointer;
	text-align: center;
	text-align: -webkit-center;
	text-align: -ms-center;
	text-align: -o-center;
	text-align: -moz-center;
}


.all-event
{
	/*margin-top: 15vh;*/
}

.unselectable
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  	user-select: none;
}

.sidebar-menu ul
{
	padding: 0;
}

.sidebar-menu li
{
	text-align: center;
	text-align: -webkit-center;
	text-align: -ms-center;
	text-align: -o-center;
	text-align: -moz-center;
	width: 90%;
	height: 22px;
	display: block;
	padding: 5px 0px;
	margin-left: 5%;
	/*margin-bottom: 20px;*/
	margin-top: 8vh;
	font-family: "Segoe UI"; 
	/*font-size: 1.1pc;*/
	/*margin-left: -60%;*/
	cursor: pointer;
	border: 1px solid #000;
}

.home-page-container
{
	width: 60vw;
	height: 200vh;
}

#logo-info-container
{
	z-index: 0;
}

#logo
{
	z-index: 0;
	width: 90vh;
	position: absolute;
	top: 12vh;
	left: 50vw;
	-webkit-transform: translateX(-40%);
	   -moz-transform: translateX(-40%);
	    -ms-transform: translateX(-40%);
	     -o-transform: translateX(-40%);
	        transform: translateX(-40%);
	font-size: 20vh;
	font-family: "Segoe UI";
	color: #FFF;
	font-weight: 200;
}

#logo-info
{
	position: absolute;
	top: 35vh;
	right: 15vw;	
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 5vh;
	font-family: sans-serif;
}


#besu
{
	position: absolute;
	bottom: 59vh;
	left: 87vw;
	-webkit-transform: translate(-50%, -0%);
	-moz-transform: translate(-50%, -0%);
	-ms-transform: translate(-50%, -0%);
	-o-transform: translate(-50%, -0%);
	transform: translate(-50%, -0%);
	font-size: 6.4vh;
	font-family: sans-serif;
}

.besu-anim
{
	-webkit-animation: besu_a 2s linear 0s forwards;
	   -moz-animation: besu_a 2s linear 0s forwards;
	     -o-animation: besu_a 2s linear 0s forwards;
	     animation: besu_a 2s linear 0s forwards; 
}

 #over-anim
 {
 	position: absolute;
 	top: 40vh;
 	left: 79.5vw;
 	width: 16vw;
 	border-top: 1px solid #000;
 	height: 20vh;
 	background: url("snes.jpg") no-repeat center center fixed;
	background-size: cover;
 }

 #iiest
 {
 	opacity: 0;
 	position: absolute;
 	bottom: 70vh;
 	left: 87vw;
 	-webkit-transform: translate(-50%, -100%);
 	-moz-transform: translate(-50%, -100%);
 	-ms-transform: translate(-50%, -100%);
 	-o-transform: translate(-50%, -100%);
 	transform: translate(-50%, -100%);
 	font-size: 6.4vh;
 	font-family: sans-serif;
 	/*-webkit-animation: iiest_b 1.05s ease-in 1.05s forwards;
 	   -moz-animation: iiest_b 1.05s ease-in 1.05s forwards;
 	     -o-animation: iiest_b 1.05s ease-in 1.05s forwards;
 	        animation: iiest_b 1.05s ease-in 1.05s forwards;*/
 }

.iiest-anim
{
	-webkit-animation: iiest_a .35s linear 0.7s forwards, iiest_b .4s ease-out 1.05s forwards, iiest_c .4s ease-in 1.45s forwards;
 	   -moz-animation: iiest_a .35s linear 0.7s forwards, iiest_b .4s ease-out 1.05s forwards, iiest_c .4s ease-in 1.45s forwards;
 	     -o-animation: iiest_a .35s linear 0.7s forwards, iiest_b .4s ease-out 1.05s forwards, iiest_c .4s ease-in 1.45s forwards;
 	        animation: iiest_a .35s linear 0.7s forwards, iiest_b .4s ease-out 1.05s forwards, iiest_c .4s ease-in 1.45s forwards;
}

#tagline
{
	position: absolute;
	/*width: 70vw;*/
	font-size: 4vh;
	font-family: sans-serif;
	top: 70vh;
	left: 50vw;
	text-align: center;
	text-align: -webkit-center;
	text-align: -ms-center;
	text-align: -o-center;
	text-align: -moz-center;
	height: auto;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}

 @-webkit-keyframes besu_a 
 {
 	0%   
 	{
 		bottom: 59vh;
 		opacity: 1;
 	}
 	49%   
 	{
 		bottom: 59vh;
 	}

 	52%   
 	{
 		bottom: 54.9vh;
 	}

 	90% 
 	{
 		bottom: 54.9vh;
 		opacity: 1;
 	}
 	100% 
 	{
 		bottom: 50vh;
 		opacity: 0;
 	}
 }

 @keyframes besu_a 
 {
 	0%   
 	{
 		bottom: 59vh;
 		opacity: 1;
 	}
 	49%   
 	{
 		bottom: 59vh;
 	}

 	52%   
 	{
 		bottom: 54.9vh;
 	}

 	90% 
 	{
 		bottom: 54.9vh;
 		opacity: 1;
 	}
 	100% 
 	{
 		bottom: 50vh;
 		opacity: 0;
 	}
 }

 @-webkit-keyframes iiest_a
 {
 	0%   
 	{
 		opacity: 0;
 		bottom: 70vh;
 	}
 	/*35%   
 	{
 		top: 49%;
 	}

 	65%   
 	{
 		top: 40%;
 	}

90% 
{
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}*/
	100% 
	{
		opacity: 1;
		bottom: 52vh
	}
}

@keyframes iiest_a 
{
	 	0%   
 	{
 		bottom: 70vh;
 	}
 	/*35%   
 	{
 		top: 49%;
 	}

 	65%   
 	{
 		top: 40%;
 	}

90% 
{
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}*/
	100% 
	{
		bottom: 52vh
	}
}

@-webkit-keyframes iiest_b
 {
 	0%   
 	{
 		bottom: 52vh;
 	}
 	/*35%   
 	{
 		top: 49%;
 	}

 	65%   
 	{
 		top: 40%;
 	}

90% 
{
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}*/
	100% 
	{
		bottom: 60vh;
	}
}

@keyframes iiest_b 
{
0%   
 	{
 		bottom: 52vh;
 	}
 	/*35%   
 	{
 		top: 49%;
 	}

 	65%   
 	{
 		top: 40%;
 	}

90% 
{
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}*/
	100% 
	{
		bottom: 60vh;
	}
}

@-webkit-keyframes iiest_c
 {
 	0%   
 	{
 		bottom: 60vh;
 	}
 	/*35%   
 	{
 		top: 49%;
 	}

 	65%   
 	{
 		top: 40%;
 	}

90% 
{
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}*/
	100% 
	{
		bottom: 51.2vh;
	}
}

@keyframes iiest_c 
{
	 	0%   
 	{
 		bottom: 60vh;
 	}
 	/*35%   
 	{
 		top: 49%;
 	}

 	65%   
 	{
 		top: 40%;
 	}

90% 
{
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}*/
	100% 
	{
		bottom: 51.2vh;
	}
}
