input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: transparent;
}

.auth-logo {
	display: block;
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 50px;
    font-weight: lighter;
    margin: 50px auto 25px;
    text-align: center;
}

a.logo:hover {
	text-decoration: none;
}

.directions {
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #32393d;
    line-height: 100%;
    text-align: center;
}

.extra-instructions {
	margin-bottom: 50px;
	margin-top: 50px;
	font-family: Roboto,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #32393d;
    line-height: 100%;
    text-align: center;
}

.hidden-fields {
	visibility: hidden;
}

.form-wrapper {
	margin: 25px auto 0;
    width: 84.375%;
    overflow: hidden;
}

.form-wrapper .errorlist {
	color: #aa0000;
	list-style: none;
}

.form-field-wrapper, .form-submit-wrapper {
	margin-bottom: 10px;
	background-clip: padding-box;
    border-radius: 5px;
    background-color: #e1e4e6;
    padding: 0 6%;
}

.form-field-wrapper > input, .form-submit-wrapper > input {
	font-size: 18px;
	height: 45px;
	line-height: 18px;
	padding-bottom: 2px;
	background-color: transparent;
	border: medium none;
	box-shadow: none;
	box-sizing: content-box;
	color: #32393d;
	font-family: Roboto,Helvetica,sans-serif;
	margin: 0;
	outline: medium none;
	padding: 0;
	width: 100%;
}

.form-submit-wrapper {
	background-color: #008fd5;
    float: none;
    padding-left: 30px;
    padding-right: 30px;
}

.form-submit-wrapper > input {
	background-image: none;
	color: #ffffff;
	text-shadow: none;
	text-align: center;
	display: block;
}

.extra-links-wrapper {
	margin-top: 20px;		
	font-family: Roboto,Helvetica,sans-serif;
}

.auth-wrapper {
	margin-bottom: 50px;
}

.form-errors, .form-success {
    background: none repeat scroll 0 0 #ffd4d4;
    border: 1px solid #ff8f8f;
    border-radius: 5px;
    color: red;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.form-success {
    background: none repeat scroll 0 0 #d4ffd4;
    border: 1px solid #8fff8f;
    color: green;
}

@media (min-width: 640px) {
	.form-wrapper {
		margin: 50px auto 0;
	    width: 400px;
	}

	.form-field-wrapper {
		margin-bottom: 20px;
	    border-radius: 9px;
	}

	.form-field-wrapper > input {
		font-size: 20px;
		height: 58px;
		line-height: 30px;
	}

	.form-submit-wrapper {		
		margin-top: 20px;
		background-clip: padding-box;
	    border-radius: 9px;
		background-color: #008fd5;
	    float: right;
	}

	.form-submit-wrapper > input {
		font-size: 20px;
		height: 58px;
		line-height: 30px;
	}

	.extra-links-wrapper {
		float: left;
	}

	.form-errors, .form-success  {
	    border-radius: 9px;
	    margin-bottom: 15px;
	}

	.auth-wrapper {
		margin-bottom: 200px;
	}

}