.landing-page
{
	background: url('/static/main/img/core/background.png');
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-size: cover;
}

#logo {
	position: absolute;
	z-index: 1;
	width: 90vh;
    width: 26vw;
    top: 10vh;
    left: 47vw;
	-webkit-transform: translateX(-40%);
	-moz-transform: translateX(-40%);
	-ms-transform: translateX(-40%);
	-o-transform: translateX(-40%);
	transform: translateX(-40%);
}

#logo > svg {
	fill: #FFEDDA;
}

#layer1 {
	-webkit-animation: logo_glow 5s ease-in 0.5s infinite alternate;
	animation: logo_glow 5s ease-in 0.5s infinite alternate;
}

@-webkit-keyframes logo_glow 
{
	0%   
	{
		fill: #fff;
	}
	10%   
	{
		fill: #fff;

	}
	90% 
	{
		fill: #F3CAA1;
	}
	100% 
	{
		fill: #F3CAA1;
	}
}

@keyframes logo_glow 
{
	0%   
	{
		fill: #fff;
	}
	10%   
	{
		fill: #fff;

	}
	90% 
	{
		fill: #F3CAA1;
	}
	100% 
	{
		fill: #F3CAA1;
	}
}

#bridge {
	position: absolute;
	width: 125vw;
	top: 14vh;
	left: -12vw;
}

.container-canvas
{
	width: 100%;
	height: 50vh;
	display: block;
	background: transparent; 
	z-index: 0;
	top: 55vh;
}

.opacity-zero  {
	opacity: 0;
}

.animateDate {
	opacity: 1;
}

#instruo-dates {
    position: absolute;
    z-index: 1;
    color: #A15AA5;
    font-family: sans;
    font-size: 1.5vw;
    top: 69vh;
    left: 50%;
    background: none repeat scroll 0% 0% #FFF;
    padding: 6px;
    border-radius: 5px;
    -webkit-transition: 1.5s opacity;
    -o-transition: 1.5s opacity;
    transition: 1.5s opacity;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    -webkit-transform: translate(-50%) scale(1.1);
    -ms-transform: translate(-50%) scale(1.1);
    -o-transform: translate(-50%) scale(1.1);
    transform: translate(-50%) scale(1.1);
}


#presented-by {
	position: absolute;
	color: wheat;
	font-family: sans-serif;
	top: 91vh;
	left: 84vw;
	z-index: 1;
}

#iiest-logo {
	position: absolute;
	z-index: 1;
	color: wheat;
	font-family: sans-serif;
	top: 86vh;
	left: 93vw;
	vertical-align: top;
	width: 60px;
}

#tagline
{
	color: #FFEDDA;
}

 .wrapper-tagline
{
    position: absolute;
    z-index: 1;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}

.text-hider
{
    overflow: hidden;
}

.text-hider-kol
{
    position: absolute;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    font-size: 1.5em;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -webkit-transition: 0.75s 0.75s transform;
    -o-transition: 0.75s 0.75s transform;
    transition: 0.75s 0.75s transform;
}

.animateTagline .text-hider-kol
{
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -ms-transform: translateX(-100%) rotate(-90deg);
    -o-transform: translateX(-100%) rotate(-90deg);
    transform: translateX(-100%) rotate(-90deg);
}

.text-kol
{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.text-hider-big
{
    margin-left: 0.2em;
    float: left;
    font-size: 5em;
    letter-spacing: -0.1em;
    font-weight: bold;
    -webkit-transform: scaleY(1.2);
    -ms-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    transform: scaleY(1.2);
}

.text-big
{
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.text-hider-tech
{
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 3.33em;
}

.text-tech
{
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.text-hider-fest
{
    font-size: 2em;
    position: absolute;
    top: 3.25em;
    right: 0;
    letter-spacing: 0.1em; 
}

.text-fest
{
    position: relative;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translateX(20%) rotateY(-90deg);
    -ms-transform: translateX(20%) rotateY(-90deg);
    -o-transform: translateX(20%) rotateY(-90deg);
    transform: translateX(20%) rotateY(-90deg);
}


.text-hider-is-here
{
    font-size: 1em;
    position: absolute;
    left: 100%;
    margin-top: 1em;
    line-height: 0.9em;
    letter-spacing: -0.05em;
}

.text-is-here
{
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    transform: translateX(-110%);
}

.text-hider-big,.text-hider-fest
{
    font-family: serif;
}

.text-hider-kol,.text-hider-tech,.text-hider-is-here
{
    font-family: sans-serif;
}

.animateTagline .text-kol,.animateTagline .text-big,.animateTagline .text-tech,.animateTagline .text-fest,.animateTagline .text-is-here
{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.text-kol,.text-big,.text-tech,.text-fest,.text-is-here
{
    -webkit-transition: 0.75s transform;
    -o-transition: 0.75s transform;
    transition: 0.75s transform;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
}

.text-big,.text-hider-kol
{
    transition-timing-function: cubic-bezier(0.42,0,1,0.81);
}

.text-fest
{
    -webkit-transition: 1s ease-out transform;
    -o-transition: 1s ease-out transform;
    transition: 1s ease-out transform;
}

.animateTagline .text-big
{
    -webkit-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    transition-delay: 1.2s;
}

.animateTagline .text-tech
{
    -webkit-transition-delay: 1.9s;
    -o-transition-delay: 1.9s;
    transition-delay: 1.9s;
}

.animateTagline .text-fest
{
    -webkit-transition-delay: 2.3s;
    -o-transition-delay: 2.3s;
    transition-delay: 2.3s;
}

.animateTagline .text-is-here
{
    -webkit-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-delay: 3s;
}