body
{
	padding: 0;
	margin: 0;
	background: url('/static/main/img/core/content_bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

#lock-page
{
	z-index: 5000;
	background: #000 no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.5s all  ease-out;
	-moz-transition: 0.5s all  ease-out;
	-ms-transition: 0.5s all  ease-out;
	-o-transition: 0.5s all  ease-out;
	transition: 0.5s all  ease-out;
}

.lock-page-up
{
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	opacity: 0;
}

.lock-page-container
{
	width: 100vw;
	height: 100vh;
}

.aura
{
	position: absolute;
	width: 30vw;
	height: 30vw;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) translateZ(0);
	transform: translateY(-50%) translateX(-50%) translateZ(0);
	-webkit-box-shadow: 0px 0px 30px 15px rgb(255,255,255);
	box-shadow: 0px 0px 30px 15px rgb(255,255,255);
	background-color: #000;
	will-change: transform;
}

.move2
{
	
	-webkit-box-shadow: 0px 0px 4px 2px #fff;
	box-shadow: 0px 0px 4px 2px #fff;
	background: #000;
}

.anim_big_a
{
	-webkit-animation: makebig_a 6s ease-out 0.0s infinite;
	animation: makebig_a 6s ease-out 0.0s infinite;
}

.anim_big_b
{
	-webkit-animation: makebig_b 6s ease-out 0.0s infinite;
	animation: makebig_b 6s ease-out 0.0s infinite;
}

.small
{	
	width: 24vw;
	height: 24vw;
}

.anim_small_a
{
	-webkit-animation: makesmall_a 3s ease-out 0.0s infinite alternate;
	animation: makesmall_a 3s ease-out 0.0s infinite alternate;
}

.bg
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAMAAABOo35HAAAApVBMVEUYJCcRGx8aJioLEhRFZ3Q7
VmAAAAAqP0Y2UVo5VmAOFhgmOUAnO0ISHB8CBAU/X2khMzoqQEcIDA0GCgs3UlwPFxkzTVYNExYf
LzUrQEgVISUZJioZJik9XGcfMTYaKS4cKi5KbHgeLTILERIFCAkaJSkuRE0UHyMuR08THiEJDxEv
Rk0XIiYgLzMOFRcaJywYJCkMERMMEhQAAAABAwMEBwgHDQ89Fq0rAAAAAXRSTlMAQObYZgAAAAlw
SFlzAAALEwAACxMBAJqcGAAAEl1JREFUeNrtnW2LqzoQgJWAH0TFF4qipUJbKPZLCyb+/592t2f3
7tnNi0kmiSZ7duDAPYdbTR4nM5PJJImaxBcp3mSm5PVv3jSwieZfUZYo8aARpGkulzYSSHu5HJpi
Jrs3M9kXFm7qyxCpynCZGoT/RVhJfYlgcswR+Wdg4auGNonk0pAfDws3bWRNLs1PhlUPkWUZavwT
YZF75Eju6GfBwnXkVC4F/imw8mgDqckPgJWU0UZyRoHDmqIt5biQYGEVbbS1nGMSJKxmiHaR3NmM
yBmsJtpPno6mQ45gHQDe/3K5vslHNzGZk+btr/VtJR2x9jQcCiw9rRru10Iap+Eiru9a1C4kBFga
WnXRDo7IVV3Rbth3WEixJ20ND7rReFa09V7DKpR6YWP2W6hNylN/YamMEIt5lVQhfThgL2GRm3zs
XS2bEUzkClYS/2BJ7XrtKvdzlfG6Y79gkWofUop5jatPsNYTe+cN0r+S3OKAfIG1Hi7ct1pZqF0r
lwVY64Y9nzeUxq1fNIdVrDWwmTeW1OWHM4a1lt3bZf12TbtavCcs7JNWqeBq9oN18BCVpF0ms2sT
WPiyV1hl5BnxHrAW8fRv9kBG+0oPhyX0ghWZ/RDhGtxta1jCCcZh9kawaNLYbgvr6fMIVLD0ZENY
ohxfMfsmIieENoMlUO/n7KEk9nKoEFgkGLVaVa58C1gCViWefRWB4z65h5V4GoYCooina1iCaf0y
+y25DVq6sPisqtl/sTASNWHxWXVzCMINd47uYKX+JRg05G6qW1qw+KzmYKQ3pKUDi8sqmwMSYmZE
NGDFwQTtmma+tw+LGL3HG93iLQb32DKs2HmNykbSwldWVGGRbUz76xPj5X9xM4EqwT1RhEXOtnJC
IkpkSfPjifns1ek4pshu/fETSksR1uROrwhK80smrVYqu9jalGoE9kYNVuMoZCBNV+kU1Z4OdoDl
sBSvEizshBUaswggXUqc0OrswMIOxuDSGWwKyHrigFZiBdbRNivyqCJDyUzrrSZAmkkB1mjZDy4n
O5tORjNeF30VkMNK7OpVX0XWxKi0FrPx1tkYlk1WuLe9p8lkDtHqLlXLYBGbVVcPF1vADIz9oMle
Buto71v2kSOJLeYgkAGsh7UUMorcSYXs0SJgWGyqoYQ1Kq4ip3Ky9glHKCxiybjjLnIuwOLaRGdQ
r8I62WEV62wIP52e6Uum5+mkNx2CjcVOIzZdg4WsOELFGLQd+ZNkQpZccXvhCTTLbtXjhxVY2ErF
nIoP7Hq5VqD8qBBGWDHyBADrYmMQykZSNWnslMe57HEZIEtYKPdTDAtZqGeQbKu7AYqU+sx6SH9T
DY/EsMybgVatVQmObg+VZeVS9RVCWAfjotVVJ2hWHoFvVt0iU6Q+EC1YxNRg4dHtTpXapp3v1J4g
gvU07B9+OpicSJOdUL3FatswBLCIUWnOm1SuUfEDSugSAVKa9QhgVWa5URJts6WAiF2IZuLmpGJ1
+LAKsyyIcGPdNNsWklmipZIx4MMy84SxpbFh6HSR2WMWRVi9kSeMbc5FTCy9XhDdyj8tDxY2KtuO
7U1ETN0JNrKzSAlWZ6JYsctTKHTnVVrPmKSRKQfWYmLdiYVWgwx9ZfzeRTq/48CipxInbMrqNG8g
N2NaUlPNwkIGdnLZ1rLLMsSa2xnIIIk+WFj00L2bjoXtdqpwkxsG9raSwjJQ5GzvnSqVmQ1gFlaQ
BNYVHjZ0hh/WgvCmPw/4FLGVwILPGkaL+9zB8jRLnqarvadhIfDEF/mxE78zWt+nvfkRr8GqoEFw
7MupBblRAIHWVIuChaBZtKXaPGrXiObVvQxdwz6KYeEj1GJ1Hp2GwaE1gsMHIoRFoIrVe3VyyGhg
tpaVH36HlQMVi1gr1HDmEzH0u4tgYWi2bqfpoE68pdwgoggLAZ3IY+9YlJUSPhAHYaj4DdYZBovs
kJIBKLvqHDUV9uUrLAJbKsSZl9umwYuJRDgB+Aorh3X5YZbOdZYOBK9gUJmxgQcLw9atFp+ChrWU
QHRWHIhINH6/wFpg+tF5Z9xFJljZxosSL19gTaBRGPt7zgOGNk1kj/7CIrDBdLNTB+tEeqCBIILY
/C+sBfQVGDPq00EP+AxULcFs+i+sGrRif/LSEwqdTw+zLYSGBUovMhk/z46yq2HfkkhgEZDCdpo7
9nYPTRVV68j91SesA2QOjaxucXUhKcxqNVwd+IRVQjIso1+5BpXwoQf9DH+DhUFj29sQ6+vkF6T8
R14Q/z8sUHam9zhsEKqWWhgf8ybh/8OaIOt9le8WixcGqFljrr/7gEWfb62EHwWgWBxboTadHlZg
QUxWt1sFiJFDVPNdB84k7gMWAqyzYd9jLJHVgozD5xdYNWCZrfF3Br2eRFggiP/Cok2W0qQl8z9u
4FstNdt6FMGaAf0mPi0UavU7gpi69BNWAfCuaTCKxbjtGDAOy09YuX4BG33uTekxrBkyK1vYIPId
VqkfXBJbp65sISNgFNDasHzAIoAoC/mc9JOpllJjc8bp/YG1AKKszmw/4r6wcoDRGj9gFYCO+50h
lcTjGQDWGb/DGgEFyuH4QuG8WDMsJX9g0aYM6X8q7+9lGAD5kSMX1qCPPfNyxV4sE2A+l/NgzYC0
VFC+EJgpONBFRS9YC2PJfljgALWx9CamFyykX8f0CMxkMXZDZcZD6Lj/BSvXtj90CXgAd8mM+kaL
yYi+YI3GJivxH1asb2voXi4vWCf94RzCSoW50aIqxHERJVj/MUtw9h0Ei5rSvY3Lgugb615UdRmO
hQdE3subZs36SdcxOPvOhJi9/gAq3jQLAOsZUC7rfyn0y4sR3c0XL+2ZSyjrOiuwOn0717OwFJIt
OED7Tve80v8JR7OQ9lgO5B66yDRCOsyMzVKARbY46smxOwRoVjlHGJkSP4YBq9K3HWdKKSJ6IgBR
zyAEsISV0ZplDisPA1ZumuKEwSqsnzr6g2EdQnSGe8FKf2H9wpLBwr+wVmYq34/EPy6/sFak/YWl
rln/7jDstFtNneLzL4UOmT6s0r43DGS6c95Hs5Ygpzv6sJiy0n9mIk2Xvyza/eTA0l99vIcBi8qU
YggsHGsn/3CAK2EWMqUZm1ZWySFUoZWFzLDiP7o+ApJWBnjh/WXRr9tf6MobkGaNAcICrBsW0qUw
lU2sU1Clyu+S6Mc7BbMURi/fn/RffA0B1lW/mo1yfTEG1TpAfrK3PPVNc82WHPF21unBCiJ2qPRj
UuoEp/kFazIuZgswzFKISeli0D+wcv3HlKHDGiAq8SqTJPo9H4ObHVKZEpVbTLjVyot+oIWCW8A/
6deyETqm4mjW9CONFqCkDNNhFmc7SunGXAZn3+mYlL8rTOXdR9AZXvsJZMMhf6MTYKr3CMxoZYDk
7oULC+lP9UIr/oPschjokcuDlQPe7jmrxnxT2PEDFm3hVaxfBdgqvJ+U5gc73PmwIEYrCmoUKh0Z
kjLh5zus1vwoGq9ZPSDnHN355zrQ7hABPtboM6wBUl498E8MoaMQpY53AakW5CgYIjqLJgacq4zC
OQYD9F050993WIu5Z/V4QWwBnbc3sYmVj8PGIGdEPEJRrSvoQKYzO5n8gDUBwlICOgB0f4sVgX41
z6LTJNX6XYaRekhBfhtzNqB/wIKcoMX86BSGYqmdF0xFU48vmgWpxwniHGr2AOgKQ03W59nKI6Q+
rQ/AajFHuqagn81fYSHISiCBHVu8qeRWTs/PvsGCTfVG/wci3ULFi5LPvOWrz5sGzpCdXkAd3zF4
j2CMvx+eT4eYJXbalq2EABUrXb2WAXgiFnPjx80vWBnQqrbc0Ex4lUwKVHOvItMEqFj8UfjlkqIc
dLo7e4ugz2GDauMO/J+Z3hXGXl7mURawgwXvjGLdGFh05uEAVS1vBiJzm+AZwzRyYWEBzyz39oJD
dhCqnpkzCVYZv97JCtQQxuN4sjzN3I6sfHKV6CTmr7COsD6zl7J6UflwAGt8Klq+/goLevho7qXZ
YhrVqP6yFcUF3y7dhhwEzm2Xj5duK6dExNdpf4MFXd1i4vj97+Bhv5/yde43YRHJN1h0p5VLRSem
aTtnTZnbT5Vjd2GQRcNibl5WtT2sl973gJqbgWE4iGeT32Gl0NUtNtjaM1vzMDGi1A8HIoJFwAun
Hdu+3c4QbiKDQXhdCYO+w1oxbjIXMnhDq4/gnpCdvWExrAUcjLOh6U60Uk5DFrBidbMYFj6Cxzrn
g+5ht3isYrDFiuYVWEz0oDHP63ygxftkGkkj2hWWq7DoWF9j5kIyTkM3nibmnCaUBK5YZB0WglcS
IU5Ltz304cZrgcbv7+uOgYHFxJcalUQ8I79lwqbkvV9jUk8kCTAGFmMhdYrUYl5rN1un5r5c5xIE
2ru1WAZrNjHSfFqbmPmC+2qdA8WRDDQHVmqSb+HT2mA1ceK+ONZ5RCULZTmwGKs16byx5zbaeTqw
MmfVSNvMgcVqh84rsYCW00O28sic1Sz3TDxYTKZGr+5KQKtydh8B5quVpmMZ5a6BCwuZfSK+3XK1
/IpPkQ1WjGJNWA0W40M1byES0XLhFh+id2FDo8fpMh/WAl5yE0R3n7l5yzFXKnpRZPogXgaMD4v9
Xprv5s4T37Fb9IuFEJVudataEYIAlnFxDBbSshZ0IfErtJdLnkrBrAAWa+Mn3fePwq5ERwuOsRc/
XiOJLFJR/vRfBItlrW1tmpXuVGamnkwrzwa4EcVZkhDWEpl5RFHK5q96gTdGpefVB+urbae4jieE
xfqHi3YjlnK1V1EHGI6p5JknfQfCGOgB68JiS4l6u5blPY3Zaygsyc+y5z0A91Iqh7MrsGYbs2E0
RFIpRyJ9MlkemfxJoNTZU3kauwYrtVEcg8dIScr8sAiQkWaqlJ4BumexUTfOa7DYgdhCWkMidclu
9wOK0Yfcn7dS/bdVDHIXGg5iFRb7INgRbI9oA4GhYru4cvbJOqze0tIW6Vyjgh6kl+mYmnVYnPUS
4C3IyCmuBxAVZ+0Mw2FZrIAkJ1eoOvDsKdcrK5PBQhbrRRcn2jXCb/xmHWGLTWBxrI3B5t5l8mYA
8nOU6zoqg8Vz/Eb1ojY9IzBYEJsYyXiWwuLRMlqpwXFpyVQRI1RYv19yWDxtNTzTnDwqY6XqzVDx
9EpqXxRgMbUlkYUT4NWmeiJSj9lYIGl7FVicyM3GmimOQcHEyVinBKwWO7B4j7Zzu8AS50d1Tucu
trNSu8ByhmqwiGWnTatYJ7Vh1dQQay9cgLloNVjcZVOr1QsYpf1YZvSAz7KsHB8xsrrcmEDnloqw
uCnPyxyk5OCuqMLilmtmIbK6wjuiDGvmua7yZ+hVNNuGxS9vDQwVvpnUnWrAmrlOvggK1tFooVEH
FuG+qglIrwazfLQOrHm58F72DAaW6QK2FixBlV0bBqrGuI4r0dzndopCNfOTect1YfF9ou9n58/s
Bi7IV9aGxUvY+B/NJ1ZqKfVhiYo9iMesbvzJ+ewelqjqdfIV1SIoEJu3gCWs6fPzcOVaUIkybwNL
WOvhoXJhi01NgFvkRUk63yzX3WZtBBTWLMoGexVENPbqTo1giUu3E19QkcGy/sNhcbNoHsVc/GyM
Uc7SAJbQdnph6O/CxsENRWI0asSLMjvfw32wXiFoDmu+RT7iuq6sqZnEgoawVgvdD/6hMjswzhTW
vKytj07EK1Smh70k5p5+tZ7vTvxBZbxyZwHWilf8k0fdLu66rzbEfAU9sRJDSnZRbBLVN+1qGwYL
Km4H1kwklR1Hxytm5O6oTt4FLOE5FF/Uy5n1wrV0Y5Cd5JE1WMzV3ZyRULtIeElJGcWhjmDJx+K7
d7QJjCiQshgdJ1aTBKlK/V57tcML31XeZnNWn1jOqKh86lcXGkOVOqhVV56sDvzEevpJeRNFW2NY
V66qZailZZ+SOMjVPTVqj9t7ox5V4OJ6b9Ufbd2duIAlKCBZRXaVNON6vbRajzw7iOwSN1lgNePL
9vBe1/Xrz6fAnhMdnQR1iauUOa6j3eTiaAEzcbi+0FS7oHKX006cLsbg49akhsZhdxLXK1f5lup1
d1tAkLhf5ltO25BqG9c9STZZE01K58Ov3iAlm2y1gNw4NF9Dvk3yOtlutR3HNyejb7s1t2Tj0oT6
bDei2rT1yeZ1HBjdh9BUajdYf4AlhsDaeo9CsGS3CiFMpgvImt+ve5VjJjuXUy1Nrewm28sh2bVs
NfFidwTGCznU1/rWvsswvP15/8/p7Z8TvGDixQWTTbK3FAUv90TBefufdm9o8x9FkddUxTjMJgAA
AABJRU5ErkJggg==
') repeat fixed center;
	background-size: 5vw;
	/*display: none;*/
}

.wrapper
{
	width: 100vw;
	height: 100vh;
}

.bg2
{
	height: 30vw;
	width: 30vw;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAMAAABOo35HAAAApVBMVEUYJCcRGx8aJioLEhRFZ3Q7
VmAAAAAqP0Y2UVo5VmAOFhgmOUAnO0ISHB8CBAU/X2khMzoqQEcIDA0GCgs3UlwPFxkzTVYNExYf
LzUrQEgVISUZJioZJik9XGcfMTYaKS4cKi5KbHgeLTILERIFCAkaJSkuRE0UHyMuR08THiEJDxEv
Rk0XIiYgLzMOFRcaJywYJCkMERMMEhQAAAABAwMEBwgHDQ89Fq0rAAAAAXRSTlMAQObYZgAAAAlw
SFlzAAALEwAACxMBAJqcGAAAEl1JREFUeNrtnW2LqzoQgJWAH0TFF4qipUJbKPZLCyb+/592t2f3
7tnNi0kmiSZ7duDAPYdbTR4nM5PJJImaxBcp3mSm5PVv3jSwieZfUZYo8aARpGkulzYSSHu5HJpi
Jrs3M9kXFm7qyxCpynCZGoT/RVhJfYlgcswR+Wdg4auGNonk0pAfDws3bWRNLs1PhlUPkWUZavwT
YZF75Eju6GfBwnXkVC4F/imw8mgDqckPgJWU0UZyRoHDmqIt5biQYGEVbbS1nGMSJKxmiHaR3NmM
yBmsJtpPno6mQ45gHQDe/3K5vslHNzGZk+btr/VtJR2x9jQcCiw9rRru10Iap+Eiru9a1C4kBFga
WnXRDo7IVV3Rbth3WEixJ20ND7rReFa09V7DKpR6YWP2W6hNylN/YamMEIt5lVQhfThgL2GRm3zs
XS2bEUzkClYS/2BJ7XrtKvdzlfG6Y79gkWofUop5jatPsNYTe+cN0r+S3OKAfIG1Hi7ct1pZqF0r
lwVY64Y9nzeUxq1fNIdVrDWwmTeW1OWHM4a1lt3bZf12TbtavCcs7JNWqeBq9oN18BCVpF0ms2sT
WPiyV1hl5BnxHrAW8fRv9kBG+0oPhyX0ghWZ/RDhGtxta1jCCcZh9kawaNLYbgvr6fMIVLD0ZENY
ohxfMfsmIieENoMlUO/n7KEk9nKoEFgkGLVaVa58C1gCViWefRWB4z65h5V4GoYCooina1iCaf0y
+y25DVq6sPisqtl/sTASNWHxWXVzCMINd47uYKX+JRg05G6qW1qw+KzmYKQ3pKUDi8sqmwMSYmZE
NGDFwQTtmma+tw+LGL3HG93iLQb32DKs2HmNykbSwldWVGGRbUz76xPj5X9xM4EqwT1RhEXOtnJC
IkpkSfPjifns1ek4pshu/fETSksR1uROrwhK80smrVYqu9jalGoE9kYNVuMoZCBNV+kU1Z4OdoDl
sBSvEizshBUaswggXUqc0OrswMIOxuDSGWwKyHrigFZiBdbRNivyqCJDyUzrrSZAmkkB1mjZDy4n
O5tORjNeF30VkMNK7OpVX0XWxKi0FrPx1tkYlk1WuLe9p8lkDtHqLlXLYBGbVVcPF1vADIz9oMle
Buto71v2kSOJLeYgkAGsh7UUMorcSYXs0SJgWGyqoYQ1Kq4ip3Ky9glHKCxiybjjLnIuwOLaRGdQ
r8I62WEV62wIP52e6Uum5+mkNx2CjcVOIzZdg4WsOELFGLQd+ZNkQpZccXvhCTTLbtXjhxVY2ErF
nIoP7Hq5VqD8qBBGWDHyBADrYmMQykZSNWnslMe57HEZIEtYKPdTDAtZqGeQbKu7AYqU+sx6SH9T
DY/EsMybgVatVQmObg+VZeVS9RVCWAfjotVVJ2hWHoFvVt0iU6Q+EC1YxNRg4dHtTpXapp3v1J4g
gvU07B9+OpicSJOdUL3FatswBLCIUWnOm1SuUfEDSugSAVKa9QhgVWa5URJts6WAiF2IZuLmpGJ1
+LAKsyyIcGPdNNsWklmipZIx4MMy84SxpbFh6HSR2WMWRVi9kSeMbc5FTCy9XhDdyj8tDxY2KtuO
7U1ETN0JNrKzSAlWZ6JYsctTKHTnVVrPmKSRKQfWYmLdiYVWgwx9ZfzeRTq/48CipxInbMrqNG8g
N2NaUlPNwkIGdnLZ1rLLMsSa2xnIIIk+WFj00L2bjoXtdqpwkxsG9raSwjJQ5GzvnSqVmQ1gFlaQ
BNYVHjZ0hh/WgvCmPw/4FLGVwILPGkaL+9zB8jRLnqarvadhIfDEF/mxE78zWt+nvfkRr8GqoEFw
7MupBblRAIHWVIuChaBZtKXaPGrXiObVvQxdwz6KYeEj1GJ1Hp2GwaE1gsMHIoRFoIrVe3VyyGhg
tpaVH36HlQMVi1gr1HDmEzH0u4tgYWi2bqfpoE68pdwgoggLAZ3IY+9YlJUSPhAHYaj4DdYZBovs
kJIBKLvqHDUV9uUrLAJbKsSZl9umwYuJRDgB+Aorh3X5YZbOdZYOBK9gUJmxgQcLw9atFp+ChrWU
QHRWHIhINH6/wFpg+tF5Z9xFJljZxosSL19gTaBRGPt7zgOGNk1kj/7CIrDBdLNTB+tEeqCBIILY
/C+sBfQVGDPq00EP+AxULcFs+i+sGrRif/LSEwqdTw+zLYSGBUovMhk/z46yq2HfkkhgEZDCdpo7
9nYPTRVV68j91SesA2QOjaxucXUhKcxqNVwd+IRVQjIso1+5BpXwoQf9DH+DhUFj29sQ6+vkF6T8
R14Q/z8sUHam9zhsEKqWWhgf8ybh/8OaIOt9le8WixcGqFljrr/7gEWfb62EHwWgWBxboTadHlZg
QUxWt1sFiJFDVPNdB84k7gMWAqyzYd9jLJHVgozD5xdYNWCZrfF3Br2eRFggiP/Cok2W0qQl8z9u
4FstNdt6FMGaAf0mPi0UavU7gpi69BNWAfCuaTCKxbjtGDAOy09YuX4BG33uTekxrBkyK1vYIPId
VqkfXBJbp65sISNgFNDasHzAIoAoC/mc9JOpllJjc8bp/YG1AKKszmw/4r6wcoDRGj9gFYCO+50h
lcTjGQDWGb/DGgEFyuH4QuG8WDMsJX9g0aYM6X8q7+9lGAD5kSMX1qCPPfNyxV4sE2A+l/NgzYC0
VFC+EJgpONBFRS9YC2PJfljgALWx9CamFyykX8f0CMxkMXZDZcZD6Lj/BSvXtj90CXgAd8mM+kaL
yYi+YI3GJivxH1asb2voXi4vWCf94RzCSoW50aIqxHERJVj/MUtw9h0Ei5rSvY3Lgugb615UdRmO
hQdE3subZs36SdcxOPvOhJi9/gAq3jQLAOsZUC7rfyn0y4sR3c0XL+2ZSyjrOiuwOn0717OwFJIt
OED7Tve80v8JR7OQ9lgO5B66yDRCOsyMzVKARbY46smxOwRoVjlHGJkSP4YBq9K3HWdKKSJ6IgBR
zyAEsISV0ZplDisPA1ZumuKEwSqsnzr6g2EdQnSGe8FKf2H9wpLBwr+wVmYq34/EPy6/sFak/YWl
rln/7jDstFtNneLzL4UOmT6s0r43DGS6c95Hs5Ygpzv6sJiy0n9mIk2Xvyza/eTA0l99vIcBi8qU
YggsHGsn/3CAK2EWMqUZm1ZWySFUoZWFzLDiP7o+ApJWBnjh/WXRr9tf6MobkGaNAcICrBsW0qUw
lU2sU1Clyu+S6Mc7BbMURi/fn/RffA0B1lW/mo1yfTEG1TpAfrK3PPVNc82WHPF21unBCiJ2qPRj
UuoEp/kFazIuZgswzFKISeli0D+wcv3HlKHDGiAq8SqTJPo9H4ObHVKZEpVbTLjVyot+oIWCW8A/
6deyETqm4mjW9CONFqCkDNNhFmc7SunGXAZn3+mYlL8rTOXdR9AZXvsJZMMhf6MTYKr3CMxoZYDk
7oULC+lP9UIr/oPschjokcuDlQPe7jmrxnxT2PEDFm3hVaxfBdgqvJ+U5gc73PmwIEYrCmoUKh0Z
kjLh5zus1vwoGq9ZPSDnHN355zrQ7hABPtboM6wBUl498E8MoaMQpY53AakW5CgYIjqLJgacq4zC
OQYD9F050993WIu5Z/V4QWwBnbc3sYmVj8PGIGdEPEJRrSvoQKYzO5n8gDUBwlICOgB0f4sVgX41
z6LTJNX6XYaRekhBfhtzNqB/wIKcoMX86BSGYqmdF0xFU48vmgWpxwniHGr2AOgKQ03W59nKI6Q+
rQ/AajFHuqagn81fYSHISiCBHVu8qeRWTs/PvsGCTfVG/wci3ULFi5LPvOWrz5sGzpCdXkAd3zF4
j2CMvx+eT4eYJXbalq2EABUrXb2WAXgiFnPjx80vWBnQqrbc0Ex4lUwKVHOvItMEqFj8UfjlkqIc
dLo7e4ugz2GDauMO/J+Z3hXGXl7mURawgwXvjGLdGFh05uEAVS1vBiJzm+AZwzRyYWEBzyz39oJD
dhCqnpkzCVYZv97JCtQQxuN4sjzN3I6sfHKV6CTmr7COsD6zl7J6UflwAGt8Klq+/goLevho7qXZ
YhrVqP6yFcUF3y7dhhwEzm2Xj5duK6dExNdpf4MFXd1i4vj97+Bhv5/yde43YRHJN1h0p5VLRSem
aTtnTZnbT5Vjd2GQRcNibl5WtT2sl973gJqbgWE4iGeT32Gl0NUtNtjaM1vzMDGi1A8HIoJFwAun
Hdu+3c4QbiKDQXhdCYO+w1oxbjIXMnhDq4/gnpCdvWExrAUcjLOh6U60Uk5DFrBidbMYFj6Cxzrn
g+5ht3isYrDFiuYVWEz0oDHP63ygxftkGkkj2hWWq7DoWF9j5kIyTkM3nibmnCaUBK5YZB0WglcS
IU5Ltz304cZrgcbv7+uOgYHFxJcalUQ8I79lwqbkvV9jUk8kCTAGFmMhdYrUYl5rN1un5r5c5xIE
2ru1WAZrNjHSfFqbmPmC+2qdA8WRDDQHVmqSb+HT2mA1ceK+ONZ5RCULZTmwGKs16byx5zbaeTqw
MmfVSNvMgcVqh84rsYCW00O28sic1Sz3TDxYTKZGr+5KQKtydh8B5quVpmMZ5a6BCwuZfSK+3XK1
/IpPkQ1WjGJNWA0W40M1byES0XLhFh+id2FDo8fpMh/WAl5yE0R3n7l5yzFXKnpRZPogXgaMD4v9
Xprv5s4T37Fb9IuFEJVudataEYIAlnFxDBbSshZ0IfErtJdLnkrBrAAWa+Mn3fePwq5ERwuOsRc/
XiOJLFJR/vRfBItlrW1tmpXuVGamnkwrzwa4EcVZkhDWEpl5RFHK5q96gTdGpefVB+urbae4jieE
xfqHi3YjlnK1V1EHGI6p5JknfQfCGOgB68JiS4l6u5blPY3Zaygsyc+y5z0A91Iqh7MrsGYbs2E0
RFIpRyJ9MlkemfxJoNTZU3kauwYrtVEcg8dIScr8sAiQkWaqlJ4BumexUTfOa7DYgdhCWkMidclu
9wOK0Yfcn7dS/bdVDHIXGg5iFRb7INgRbI9oA4GhYru4cvbJOqze0tIW6Vyjgh6kl+mYmnVYnPUS
4C3IyCmuBxAVZ+0Mw2FZrIAkJ1eoOvDsKdcrK5PBQhbrRRcn2jXCb/xmHWGLTWBxrI3B5t5l8mYA
8nOU6zoqg8Vz/Eb1ojY9IzBYEJsYyXiWwuLRMlqpwXFpyVQRI1RYv19yWDxtNTzTnDwqY6XqzVDx
9EpqXxRgMbUlkYUT4NWmeiJSj9lYIGl7FVicyM3GmimOQcHEyVinBKwWO7B4j7Zzu8AS50d1Tucu
trNSu8ByhmqwiGWnTatYJ7Vh1dQQay9cgLloNVjcZVOr1QsYpf1YZvSAz7KsHB8xsrrcmEDnloqw
uCnPyxyk5OCuqMLilmtmIbK6wjuiDGvmua7yZ+hVNNuGxS9vDQwVvpnUnWrAmrlOvggK1tFooVEH
FuG+qglIrwazfLQOrHm58F72DAaW6QK2FixBlV0bBqrGuI4r0dzndopCNfOTect1YfF9ou9n58/s
Bi7IV9aGxUvY+B/NJ1ZqKfVhiYo9iMesbvzJ+ewelqjqdfIV1SIoEJu3gCWs6fPzcOVaUIkybwNL
WOvhoXJhi01NgFvkRUk63yzX3WZtBBTWLMoGexVENPbqTo1giUu3E19QkcGy/sNhcbNoHsVc/GyM
Uc7SAJbQdnph6O/CxsENRWI0asSLMjvfw32wXiFoDmu+RT7iuq6sqZnEgoawVgvdD/6hMjswzhTW
vKytj07EK1Smh70k5p5+tZ7vTvxBZbxyZwHWilf8k0fdLu66rzbEfAU9sRJDSnZRbBLVN+1qGwYL
Km4H1kwklR1Hxytm5O6oTt4FLOE5FF/Uy5n1wrV0Y5Cd5JE1WMzV3ZyRULtIeElJGcWhjmDJx+K7
d7QJjCiQshgdJ1aTBKlK/V57tcML31XeZnNWn1jOqKh86lcXGkOVOqhVV56sDvzEevpJeRNFW2NY
V66qZailZZ+SOMjVPTVqj9t7ox5V4OJ6b9Ufbd2duIAlKCBZRXaVNON6vbRajzw7iOwSN1lgNePL
9vBe1/Xrz6fAnhMdnQR1iauUOa6j3eTiaAEzcbi+0FS7oHKX006cLsbg49akhsZhdxLXK1f5lup1
d1tAkLhf5ltO25BqG9c9STZZE01K58Ov3iAlm2y1gNw4NF9Dvk3yOtlutR3HNyejb7s1t2Tj0oT6
bDei2rT1yeZ1HBjdh9BUajdYf4AlhsDaeo9CsGS3CiFMpgvImt+ve5VjJjuXUy1Nrewm28sh2bVs
NfFidwTGCznU1/rWvsswvP15/8/p7Z8TvGDixQWTTbK3FAUv90TBefufdm9o8x9FkddUxTjMJgAA
AABJRU5ErkJggg==
') repeat center;
	background-size: 5vw;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.anim_rot
{
	-webkit-animation: rot 12s ease-out 0.0s infinite;
	-moz-animation: rot 12s ease-out 0.0s infinite;
	-o-animation: rot 12s ease-out 0.0s infinite;
	animation: rot 12s ease-out 0.0s infinite;
}

#big-i
{
	position: absolute;
	height: 18vw;
	width: 18vw;
	left: 50%;
	top: 50%;
	text-align: center;
	font-size: 4vw;
	vertical-align: middle;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	will-change: transform, opacity;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: rgba(255,255,255,1);
	-webkit-animation: big_i_phase 3s ease-in 0.7s infinite alternate;
	animation: big_i_phase 3s ease-in 0.7s infinite alternate;
	line-height: 18vw;
}

@-webkit-keyframes big_i_phase 
{
	0%   
	{
		background: rgba(255,255,255,0.5);
		color: #fff;
	}
	10%   
	{
		background: rgba(255,255,255,0.5);
		color: #fff;

	}
	80% 
	{
		background: rgba(255,255,255,1);
		color: #000;
	}
	100% 
	{
		background: rgba(255,255,255,1);
		color: #000;
	}
}

@keyframes big_i_phase 
{
	0%   
	{
		opacity: 0;
	}
	10%   
	{
		opacity: 0;
	}
	90% 
	{
		opacity: 1;
	}
	100% 
	{
		opacity: 1;
	}
}

#unlock
{		
	display: none;
	position: absolute;
	padding: 0.5vw 2vw;
	top: 85vh;
	left: 50%;
	font-family: "Segoe UI", sans-serif;
	font-weight: 300;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	font-size: 2vw;
	transform: translateX(-50%);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

#loading-pre
{
	position: absolute;
	width: 20vw;
	top: 87vh;
	left: 50%;
	font-family: "Segoe UI", sans-serif;
	font-weight: 300;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 25px;
	color: #fff;
	cursor: default;
	height: 18px;
	font-size: 16px;
	line-height: 18px;
	transform: translateX(-50%);
}

#loading-pre-cont
{
	overflow: hidden;
	position: absolute;
	width: 1vw;
	top: 87vh;
	left: 40vw;
	font-family: "Segoe UI", sans-serif;
	font-weight: 300;
	text-align: center;
	border-radius: 25px;
	color: #fff;
	height: 20px;
	font-size: 16px;
	line-height: 18px;
	cursor: default;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}

.loading-hidden
{
	opacity: 0;
}

#loading-post
{
	position: absolute;
	width: 20vw;
	left: 0;
	font-family: "Segoe UI", sans-serif;
	font-weight: 300;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 25px;
	color: #000;
	cursor: default;
	height: 18px;
	font-size: 16px;
	line-height: 18px;
	background: #FFF;
}

#unlock:hover
{
	background: #FFF;
	color: #000;
}


@-webkit-keyframes makebig_a
{
	0%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 1;

	}
/*	10%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 1;
		}*/
	90% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		opacity: 1;
	}
	98% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		opacity: 1;
	}

	99% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		opacity: 0;
	}

	100% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 0;
	}
}

@keyframes makebig_a
{
	0%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 1;

	}
/*	10%   
{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	opacity: 1;
	}*/
	90% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		opacity: 1;
	}
	98% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		opacity: 1;
	}

	99% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4) translateZ(0);
		opacity: 0;
	}

	100% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 0;
	}

}

@-webkit-keyframes makebig_b
{
	0%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 1;
	}
/*	10%   
{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	opacity: 1;
	}*/
	90% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		opacity: 1;
	}
	98% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		opacity: 1;
	}
	99% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		opacity: 0;
	}
	100%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 0;
	}	
}

@keyframes makebig_b
{
	0%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 1;
	}
/*	10%   
{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	opacity: 1;
	}*/
	90% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		opacity: 1;
	}
	98% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		opacity: 1;
	}
	99% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(4.6) translateZ(0);
		opacity: 0;
	}
	100%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		opacity: 0;
	}	
}

@-webkit-keyframes makesmall_a
{
	0%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	}
/*	10%   
{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	}*/
/*90% 
{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	}*/
	100% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	}
}

@keyframes makesmall_a
{
	0%   
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	}
/*10%   
{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	transform: translateY(-50%) translateX(-50%) scale(1) translateZ(0);
	}*/
/*90% 
{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	-moz-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	-ms-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	-o-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	}*/
	100% 
	{
		-webkit-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		-moz-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		-ms-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		-o-transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
		transform: translateY(-50%) translateX(-50%) scale(0.5) translateZ(0);
	}
}


@-webkit-keyframes rot 
{
	0%   
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(0deg);
		-moz-transform: translate(-50%, -50%) rotateZ(0deg);
		-ms-transform: translate(-50%, -50%) rotateZ(0deg);
		-o-transform: translate(-50%, -50%) rotateZ(0deg);
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	25% 
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(45deg);
		-moz-transform: translate(-50%, -50%) rotateZ(45deg);
		-ms-transform: translate(-50%, -50%) rotateZ(45deg);
		-o-transform: translate(-50%, -50%) rotateZ(45deg);
		transform: translate(-50%, -50%) rotateZ(45deg);
	}
	50%
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(45deg);
		-moz-transform: translate(-50%, -50%) rotateZ(45deg);
		-ms-transform: translate(-50%, -50%) rotateZ(45deg);
		-o-transform: translate(-50%, -50%) rotateZ(45deg);
		transform: translate(-50%, -50%) rotateZ(45deg);	
	}
	75%
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(90deg);
		-moz-transform: translate(-50%, -50%) rotateZ(90deg);
		-ms-transform: translate(-50%, -50%) rotateZ(90deg);
		-o-transform: translate(-50%, -50%) rotateZ(90deg);
		transform: translate(-50%, -50%) rotateZ(90deg);
	}
	100%
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(90deg);
		-moz-transform: translate(-50%, -50%) rotateZ(90deg);
		-ms-transform: translate(-50%, -50%) rotateZ(90deg);
		-o-transform: translate(-50%, -50%) rotateZ(90deg);
		transform: translate(-50%, -50%) rotateZ(90deg);
	}
}

@keyframes rot 
{
	0%   
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(0deg);
		-moz-transform: translate(-50%, -50%) rotateZ(0deg);
		-ms-transform: translate(-50%, -50%) rotateZ(0deg);
		-o-transform: translate(-50%, -50%) rotateZ(0deg);
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	25% 
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(45deg);
		-moz-transform: translate(-50%, -50%) rotateZ(45deg);
		-ms-transform: translate(-50%, -50%) rotateZ(45deg);
		-o-transform: translate(-50%, -50%) rotateZ(45deg);
		transform: translate(-50%, -50%) rotateZ(45deg);
	}
	50%
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(45deg);
		-moz-transform: translate(-50%, -50%) rotateZ(45deg);
		-ms-transform: translate(-50%, -50%) rotateZ(45deg);
		-o-transform: translate(-50%, -50%) rotateZ(45deg);
		transform: translate(-50%, -50%) rotateZ(45deg);	
	}
	75%
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(90deg);
		-moz-transform: translate(-50%, -50%) rotateZ(90deg);
		-ms-transform: translate(-50%, -50%) rotateZ(90deg);
		-o-transform: translate(-50%, -50%) rotateZ(90deg);
		transform: translate(-50%, -50%) rotateZ(90deg);
	}
	100%
	{
		-webkit-transform: translate(-50%, -50%) rotateZ(90deg);
		-moz-transform: translate(-50%, -50%) rotateZ(90deg);
		-ms-transform: translate(-50%, -50%) rotateZ(90deg);
		-o-transform: translate(-50%, -50%) rotateZ(90deg);
		transform: translate(-50%, -50%) rotateZ(90deg);
	}
}