.nav-adjust-margin{
	margin-top: 90px;
}

.footer {
    background-color: #37464f;
    padding: 40px 0;
    text-align: center;
}

.footer ul{
	font-size: 13px;
	text-shadow: none;
    line-height: 20px;
    overflow: hidden;
    padding: 30px 0 10px;
    text-align: center;
}


.footer ul li {
    padding: 0 3%;
    display: inline;
    list-style: outside none none;
    font-family: Roboto;
    font-weight: 300;
}

.footer ul li a{
	color: #fff;
}

.footer ul li a:hover{
	color: #ddd;
	text-decoration: none;
}

.content-wrapper {
	margin-top: 90px;
	margin-bottom: 50px;
    min-height: 500px;
}

.blog-body {
	font-size: 18px;
    line-height: 30px;
    margin: 0 0 30px;
    font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
  	font-weight: 300;
  	color: #4b5c66;
}

.blog-body > h2 {
	font-family: Roboto;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 36px;
}

.card {
  padding: 0;
  box-shadow:0 1px 1px 1px #aaa;
  background:white;
  margin:0 0 2rem;
  border-radius:3px;
}

.card > .card-inner > h3 {
	font-size: 35px;
	color: #41b7fd;
    font-family: Roboto;
    font-weight: 300;
}

.card > .card-inner > span {
	color: #b9b9b9;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
}

.card > .card-inner {
  padding:3.5rem;
}

.card > .card-inner > .time {
    color: #98c459;
    display: block;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.card > .card-inner > .date {
    color: #9bc75c;
    display: block;
    font-size: 50px;
    font-weight: 100;
    line-height: 55px;
    text-align: center;
}

.card > .card-inner > .place {
    clear: both;
    display: block;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.full-width-line {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.navbar .logo {
    display: block;
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

/* css for profile page */

.profile-info > tbody > tr > td {
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 30px;
    vertical-align: middle;
}

.profile-info .profile-info-lable {
    font-weight: 500;
    color: #777
}

.action-button {
    background: none repeat scroll 0 0 #008fd5;
    border-radius: 9px;
    color: #fff;
    float: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    line-height: 60px;
}

.action-button > input {
    display: inline-block;
    border: 0;
    background-color: transparent;
    background-image: none;
    width: 100%;
}

.form-wrapper {
    margin: 25px auto 0;
    width: 84.375%;
    overflow: hidden;
}

.form-field-wrapper, .form-submit-wrapper {
    margin-bottom: 10px;
    background-clip: padding-box;
    border-radius: 5px;
    background-color: #e1e4e6;    
    padding: 5% 0;
}

.form-field-wrapper > input {
    background-color: transparent;
    border: medium none;
    box-shadow: none;
    box-sizing: content-box;
    color: #32393d;
    font-family: Roboto,Helvetica,sans-serif;
    margin: 0;
    outline: medium none;
    padding: 0;
    width: 100%;
}

.form-field-wrapper > select {
    width: 100%;
    background-color: transparent;
    background-image: none;
    border: 0;
    display: inline;
}

.form-errors, .form-success {
    background: none repeat scroll 0 0 #ffd4d4;
    border: 1px solid #ff8f8f;
    border-radius: 5px;
    color: red;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.form-success {
    background: none repeat scroll 0 0 #d4ffd4;
    border: 1px solid #8fff8f;
    color: green;
}

@media (min-width: 640px) {
    .profile-info > tbody > tr > td {
        font-size: 20px;
    }

    .profile-actions {
        float: right;
        margin-top: -20px;
    }

    .action-button {
        float: right;        
        min-width: 100px;
        margin-left: 30px;
    }

    .form-wrapper {
        margin: 50px auto 0;
        width: 400px;
    }

    .form-field-wrapper {
        margin-bottom: 20px;
        border-radius: 9px;
        padding: 0 6%;
    }

    .form-field-wrapper > input {
        font-size: 20px;
        height: 58px;
        line-height: 30px;
    }

    .form-field-wrapper > select{
        font-size: 20px;
        height: 58px;
        line-height: 30px;
    }

    .form-errors, .form-success  {
        border-radius: 9px;
        margin-bottom: 15px;
    }

}

/* end profile style */